<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} The Game by UYBGames</title>
        <link rel="stylesheet" type='text/css' href="{{ jsLibrary }}/jquery-ui-1.11.4.custom/jquery-ui.css"/>
        <link rel="stylesheet" type='text/css' href="http://mybitnami/thegame.css"/>
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Orbitron:400,700|Duru+Sans'/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
