{% extends "::base.html.twig" %}

{% block title %}API Documentation for{% endblock %}

{% block body %}
<h1 style="font-family: Orbitron; font-size: 1em">API Documentation</h1>

    {% if user.active %}
        <p>Hello, {{ user.name }}.</p>
    {% endif %}

{% endblock %}
